<mat-card class="mt-12">
    <mat-card-title>Add a transaction</mat-card-title>
    <form #transactionForm="ngForm" (ngSubmit)="onClickAddTransaction(transactionForm)">
        <mat-form-field appearance="outline" class="w-full mt-4">
            <mat-label>Credit Card</mat-label>
            <mat-select name="credit_card" ngModel>
                <mat-option *ngFor="let card of credit_cards$ | async" [value]="card">
                {{ card.card_number | mask: '0000 0000 0000 0000' }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <div class="flex gap-4">
            <mat-form-field appearance="outline">
                <mat-label>Amount</mat-label>
                <input matInput type="number" name="amount" required ngModel>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Currency</mat-label>
                <input matInput type="text" name="currency" required ngModel> 
            </mat-form-field>
        </div>
        <mat-form-field appearance="outline">
            <mat-label>Date</mat-label>
            <input matInput [matDatepicker]="picker" name="date" required ngModel>
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <div class="mt-4">
            <mat-form-field appearance="outline" class="w-full">
                <mat-label>Comment</mat-label>
                <textarea matInput name="comment" ngModel></textarea>
            </mat-form-field>
        </div>
        <div class="flex justify-center">
            <button type="submit" [disabled]="!transactionForm.valid" mat-raised-button color="primary">Add Transaction</button>
        </div>
    </form>
</mat-card>